h1 {
  background-color: red;
}

.debug {
  height: 200px;
  width: 300px;
  background-color: yellowgreen;
}

.hidden {
  display: none;
}

.showcase {
  display: flex;
  justify-content: center;
  padding: 100px;
}

body {
  font-family: "Work Sans", sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

.calculator {
  width: 230px;
  height: 320px;
  background-color: red;
  font-size: 0.6em;
  display: grid;
  grid-template-rows: 80px 1fr;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 15px 50px -5px grey;
  border: 1px solid #1f1f1f;
  color: #ededec;
}

.screen {
  background-color: #5e5c57;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  font-weight: 100;
  font-size: 6em;
}

.pad {
  /* cursor: pointer; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 2.5em;
  background-color: #575655;
  gap: 1px;
}

.numpad {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: inherit;
}

.operator-pad {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: inherit;
}

.operation {
  display: flex;
  background-color: #ff9f0a;
  justify-content: center;
  align-items: center;
}
.operation:active {
  background-color: #cb7d06;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 4;
}

.digit {
  display: flex;
  background-color: #848380;
  justify-content: center;
  align-items: center;
}

.digit:active {
  background-color: #b2b2b1;
}
